@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Gujarati:wght@300&display=swap');
*{
    margin: 0px; 
    padding: 0px;
 }
 
 a{
     color:black;
     text-decoration:none ;
     
 }
 a:hover{
     opacity: 0.7;
 }
 .logo{
     font-size: 24px;
     text-transform: uppercase;
     letter-spacing: 4px;
     width: 160px; height: 137px;
     padding: auto; 
 }
 nav{
     display:flex;
     justify-content:space-around;
     align-items: center;
     font-family: 'Alex Brush', cursive;
     background-color: #FFC2BB;
     height: 22vh; 
     font-size: 30px;
 }
 
 .nav-list{
     list-style: none;
     display: flex;
 }
 .nav-list li{
     letter-spacing: 8px;
     margin-left: 30px;
     margin-right: 3px;
     cursor: pointer;
 
 }
 .nav-list li:hover{
     opacity: 0.7;
 }



:root {
    --color-black: black;
    --color-white: white;
    --color-pink: #ffc2bb;
    --color-pink1: #ff9999;
    --color-pink2: #e55175;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-pink);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background-color: var(--color-pink1);
    padding: 1rem;
    border-radius: 10px;
    width: 30%;
    overflow: auto;
    margin-left: 33%;
}

body{
    background: url(img/fundo2.jpg);
     height: 100%;
  }

h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.content form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.span-required {
    font-size: 12px;
    margin: 3px 0 0 1px;
    color: var(--color-black);
}

.inputs {
    padding: 8px 5px;
    outline: none;
    border-radius: 5px;
    background-color: var(--color-pink);
    border: 2px solid var(--color-white);
    color: var(--color-black);
    width: 100%;
    box-sizing: border-box;
    transition: 3s;
}

.inputs:focus {
    border-color: var(--color-pink2);
}

button[type="submit"] {
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: var(--color-pink);
    color: var(--color-black);
    cursor: pointer;
    transition: 0.3s;
}

button[type="submit"]:hover {
    background-color: var(--color-pink2);
}

@media screen and (max-width: 576px) {
    .box-select {
        flex-direction: column;
        gap: 5px;
    }
}
